/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal !important;
  text-align: center !important;
  word-break: break-all !important;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px !important;
}
@media (min-width: 768px) {
  html {
    font-size: 16px !important;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5 !important;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5 !important;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05) !important;
}

button.accept-policy {
  font-size: 1rem !important;
  line-height: inherit !important;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative !important;
  min-height: 100% !important;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px !important;
    background-color: #7F6262 !important;
    line-height: 1.9 !important;
    color:white !important;
}
.footer {
  position: absolute !important;
  bottom: 0 !important;
  width: 100% !important;
  white-space: nowrap !important;
  /* Set the fixed height of the footer here */
    height: 60px !important;
    line-height: 60px !important; /* Vertically center the text there */
}

.container {
    padding-top: 10px !important;
    width: 100% !important;
    background-color: #F3F8F7 !important;
}

.col{
    text-align:left !important ;
}

.resultclientlist{
    padding-left: 0px !important ;
    padding-right: 0px !important ;
    margin-bottom: 0px !important ;
}

.card{
    margin-bottom:0px !important ;
    border-radius: 0px !important ;
}

.row{
    flex-wrap:wrap !important;
    display:flex !important ;
    margin-left:15px !important ; 
    margin-right:15px !important ;
}

.switch {
    position: relative !important;
    display: inline-block !important;
    width: 60px !important;
    height: 34px !important;
}

    .switch input {
        opacity: 0 !important;
        width: 0 !important;
        height: 0 !important;
    }

.slider {
    position: absolute !important;
    cursor: pointer !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    background-color: #ccc !important;
    -webkit-transition: .4s !important;
    transition: .4s !important;
}

    .slider:before {
        position: absolute !important;
        content: "" !important;
        height: 26px !important;
        width: 26px !important;
        left: 4px !important;
        bottom: 4px !important;
        background-color: white !important;
        -webkit-transition: .4s !important;
        transition: .4s !important;
    }

input:checked + .slider {
    background-color: #941e1ec9 !important;
}

input:focus + .slider {
    box-shadow: 0 0 1px #941e1ec9 !important;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px) !important;
    -ms-transform: translateX(26px) !important;
    transform: translateX(26px) !important;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px !important;
}

    .slider.round:before {
        border-radius: 50% !important;
    }

/* The container */
.container_checkbox {
    display: block !important;
    position: relative !important;
    padding-left: 40px !important;
    padding-right: 10px !important;
    margin-bottom: 12px !important;
    cursor: pointer !important;
    font-size: 16px !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    background: transparent !important;
    color:lightgray;
}

/* Hide the browser's default checkbox */
.container_checkbox input {
    position: absolute !important;
    opacity: 0 !important;
    cursor: pointer !important;
    height: 0 !important;
    width: 0 !important;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    height: 25px !important;
    width: 25px !important;
    background-color: #eee !important;
    border-radius:5px;
}

/* On mouse-over, add a grey background color */
.container_checkbox:hover input ~ .checkmark {
    background-color: #ccc !important;
}

/* When the checkbox is checked, add a blue background */
.container_checkbox input:checked ~ .checkmark {
    background-color: #AA3F20 !important;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "" !important;
    position: absolute !important;
    display: none !important;
}

/* Show the checkmark when checked */
.container_checkbox input:checked ~ .checkmark:after {
    display: block !important;
}

/* Style the checkmark/indicator */
.container_checkbox .checkmark:after {
    left: 9px !important;
    top: 5px !important;
    width: 5px !important;
    height: 10px !important;
    border: solid white !important;
    border-width: 0 3px 3px 0 !important;
    -webkit-transform: rotate(45deg) !important;
    -ms-transform: rotate(45deg) !important;
    transform: rotate(45deg) !important;
}

.grid-container {
    display: grid !important;
    grid-template-columns: 150px 200px 400px;
    grid-template-rows: 50px !important;
    grid-gap: 10px !important;
    background-color: #422B2B !important;
    display: flex !important;
    margin-left: 1vw !important;
    font-size: 5vw !important;
    max-height: 69.33px !important;
}

    .grid-container > div {
        background-color: #422B2B !important;
        text-align: center !important;
        padding: 8px 0 !important;
        font-size: 5vw !important;
    }

.nopaddingleft{
    padding-left: 0px !important;
    display:flex !important;
    color:aliceblue;
}

.contentflex{
    display:block !important;
    flex-wrap:wrap !important;

}

.footeroptions {
    position: fixed !important;
    top: 92% !important;
    bottom: -8%  !important;
    left: 0% !important;
    width: 100% !important;
    background-color: #092418bf;
    margin-left: 75px !important;
}
.footeroptions2 {
    position: fixed !important;
    top: 92% !important;
    left: 0% !important;
    width: 100% !important;
}

.footeroptions3 {
    position: fixed !important;
    top: 92% !important;
    left: 0% !important;
    width: 100% !important;
    background-color: #4e03036b !important;
    margin-left: 250px !important;
}
.contenido_lista {
    margin-bottom: 100px !important;
    background-color: #747474 !important;
}

 /*the container must be positioned relative:*/
.custom-select2 {
    position: relative !important;
    font-family: Arial !important;
}

.custom-select2 select {
    display: none !important; /*hide original SELECT element:*/
}

.select-selected {
    background-color: DodgerBlue !important;
}

    /*style the arrow inside the select element:*/
    .select-selected:after {
        position: absolute !important;
        content: "" !important;
        top: 14px !important;
        right: 10px !important;
        width: 0 !important;
        height: 0 !important;
        border: 6px solid transparent !important;
        border-color: #fff transparent transparent transparent !important;
    }

    /*point the arrow upwards when the select box is open (active):*/
    .select-selected.select-arrow-active:after {
        border-color: transparent transparent #fff transparent !important;
        top: 7px !important;
    }

/*style the items (options), including the selected item:*/
.select-items div, .select-selected {
    color: #ffffff !important;
    padding: 8px 16px !important;
    border: 1px solid transparent !important;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent !important;
    cursor: pointer !important;
    user-select: none !important;
}

/*style items (options):*/
.select-items {
    position: absolute !important;
    background-color: DodgerBlue !important;
    top: 100% !important;
    left: 0 !important;
    right: 0 !important;
    z-index: 99 !important;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none !important;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif !important;
    border-collapse: collapse !important;
    width: 100% !important;
}

    #customers td, #customers th {
        border: 0px solid #ddd !important;
        padding: 8px !important;
    }

    #customers tr:nth-child(even) {
        background-color: #f2f2f2 !important;
    }

    #customers tr:hover {
        background-color: #C7C7C7 !important;
    }

    #customers th {
        padding-top: 12px !important;
        padding-bottom: 12px !important;
        text-align: left !important;
        background-color: #313131 !important;
        color: white !important;
    }

    #customers tr:nth-child(odd) {
        background: #C8C8C8;
    }

        #customers tr:nth-child(odd):hover{
            background: #F0F0F0;
        }

    #customers td {
        color: darkslategray !important;
    }

    table td{
        max-height:35px !important;
    }

.card-header {
    background-color: #313131 !important;
    color:lightgray;
}

.form-control-edited {
    display: block !important;
    max-width: 50% !important;
    height: $input-height !important;
    padding: $input-padding-y $input-padding-x !important;
    font-family: $input-font-family !important;
    @include font-size($input-font-size) !important;
    border-radius:10px;
    font-weight: $input-font-weight !important;
    line-height: $input-line-height !important;
    color: $input-color !important;
    background-color: $input-bg !important;
    background-clip: padding-box !important;
    border: $input-border-width solid $input-border-color !important;
    // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS. @include border-radius($input-border-radius, 0) !important;

    @include box-shadow($input-box-shadow) !important;
    @include transition($input-transition) !important;
    // Unstyle the caret on `<select>`s in IE10+. &::-ms-expand
}

.contenedor-formularios {
    background-color: #B9D0CE !important;
}

.columnasresultados{
    min-width:100%  !important;
}

.highlight {
    background-color: yellow !important;
}

.col-md{
    min-height: 40px !important;
    margin-top: 20px !important;
}

.btn-dark {
    color: #fff !important;
    background-color: #343a40 !important;
    border-color: #343a40 !important;
    cursor:pointer;
    font-weight:bold;
}

.b-p-buttons{
    display:block;
    width:500px !important;
    right:10% !important;
}

.p-2{
    color:lightgray !important;
}

.container-fluid{
    margin-left:0px !important;
}

.rformssize {
    width: 1000px !important;
    max-width: 1000px !important;
}

#table{
    width:100%;
    overflow:auto;
}

/*MENU DE INICIO*/
.b-logo {
    background: #535353 !important;
}

label.display-4, h4, a {
    font-size: 1.8vw !important;
}



/*CUADROS DE MENU DE INICIO*/
.row.card-header.cardheaderrow.btnprincipal.m-0{
    height: 300px;
    padding-left: 190px;
    padding-top: 140px;
}
/*FLIP CARD*/
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.cuadro-seleccion{
    background-color:
}

.rowmenuinfo {
    color: #313131 !important;
    background-color: #D3D3D3 !important;
    height: 75px !important;
    padding-left: 80px;
    padding-top: 10px;
    border: 1px ridge;
}

.rowmenuinfoclients {
    color: #313131 !important;
    background-color: #D3D3D3 !important;
    height: 100px !important;
    padding-left: 80px;
    padding-top: 10px;
    border: 1px ridge;
}

.td-from-homepage{
    color:darkslategray !important;
}

/*BLOQUE DE OPCIONE MENU SOBRE PANTALLA*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin-left: 150px;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    background: #865957 !important;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    /*Botones de bloques modales*/
.btnfullwidth {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    font-weight: bold;
    box-shadow: #4A4A4A 5px 5px;
    font-size:28px !important;
    padding-top:15px !important;
}

/*SIDE BAR CLIENTS*/
.sidebar {
    height: 100%;
    position: fixed;
    top: 10 !important;
    z-index: 10 !important;
    left: 10 !important;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 16px;
    margin-top: -14px !important;
    width: 13vw !important;
    resize:horizontal;
}

    .sidebar a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
    }

        .sidebar a:hover {
            color: #f1f1f1;
        }

    .sidebar:hover {
        z-index: 40 !important;
    }

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

        .sidebar a {
            font-size: 18px;
        }
}

.rightsideoptions{
    margin-left:  14vw  !important;
}

.buttonlightred {
    background-color: #9c5d5ddb !important;
    color: white !important;
    cursor:pointer;
}

    .buttonlightred:hover {
        background-color: #e85454cf !important;
        color: white !important;
        cursor: pointer;
    }

input#unbtnselectall, input#btnselectall {
    width: 12vw !important;
}

.fixedtopmenu {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 30 !important;
    margin-top: 60px !important;
    margin-left: -16px !important;
}

.margintopformenufixed
{
    margin-top: 200px !important;
}

 label.container_checkbox {
    font-size: 1.2vw !important;
}

.row.m-0{
    max-height:250px !important;
    height:250px !important;
    margin-right:0px !important;
}

    .row.m-0.rowmenuinfo {
        height: 62.5px !important;
        max-height: 62.5px !important;
    }

.row.card-header.cardheaderrow.btnprincipal.m-0.clientindex {
    padding-left: 105px !important;
    padding-top: 115px !important;
}

div#cardblock_0{
    margin-right: 0px !important;
}

div#cardblock_2{
    margin-left:0px !important;
}

.card.text-left.row.m-0 {
    height: 75px !important;
    background-color: #463434 !important;
}

a#btnedit, a#btndelete, a#btnview{
    font-size: 1.5vw !important;
}

.bg-light.row.m-0{
    padding-left:53% !important;
}

ul.list-group.flex-column.d-inline-block.first-menu{
    z-index: 10000 !important;
}

a.fa.fa-1x.fa-plus{
    z-index: 10 !important;
}



div#myModal2{
    overflow-y:initial !important;
}

.formclientcreate.modal-content {
    background: #100202db !important;
    z-index:10 !important;
}

.close{
    font-size:50px !important;
    color: whitesmoke !important;
    padding-left:90%;
}

/*CLIENT DETAILS*/
.card-body.text-center {
    background-color: #534040 !important;
}
h4.text-black-50 {
    color: whitesmoke !important;
    margin-bottom: 5px !important;
}

.card-header {
    height: 120px !important;
    width: 100% !important;
}

input#btnviewtop{
    position:absolute;
    top:10px !important;
    left:70% !important;
}

.tumadre{
    margin-left: 300px !important;
}